<div class="leftbar-toolbar">
  <div class="logo-small">
    <img src="../../../../assets/images/logo.png" class="img-fluid" />
  </div>
  <nav
    class="custom-menu navbar navbar-expand-lg navbar-light bg-light align-top"
  >
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="bi bi-list"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto mtop-3">
        <li class="nav-item icon dashboard">
          <i class="bi bi-house-door-fill"></i
          ><a routerLink="/dashboard/admin">Dashboard</a>
        </li>
        <li class="nav-item icon manageinventory">
          <i class="bi bi-clipboard-plus"></i
          ><a routerLink="/manage/category-list">Category Management</a>
        </li>
        <li class="nav-item icon manageinventory">
          <i class="bi bi-back"></i
          ><a routerLink="/request/category-request-list">Category Request</a>
        </li>
        <li class="nav-item icon manageinventory">
          <i class="bi bi-unity"></i
          ><a routerLink="/manage/unit-list">Unit Management</a>
        </li>
        <li class="nav-item icon manageinventory">
          <i class="bi bi-back"></i
          ><a routerLink="/request/unit-request-list">Unit Request</a>
        </li>
        <li class="nav-item icon profile">
          <i class="bi bi-info-lg"></i
          ><a routerLink="/request/support-request-list">Support Request</a>
        </li>
        <li class="nav-item icon profile">
          <i class="bi bi-person-fill"></i
          ><a routerLink="/user/profile">Profile</a>
        </li>
        <li class="nav-item icon logout">
          <i class="bi bi-box-arrow-right"></i
          ><a routerLink="/user/logout">Log Out</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
