<div class="main-body w-100">
    <app-header titleName="Update Inventory"></app-header>
    <div class="section-details">
        <div class="row">
            <div class="col-md-12 col-lg-12 col">
                <div class="whitebox sales-overview">
                    <div class="kbs_title-bar">
                        <h1>Update Inventory</h1>
                    </div>
                    <div class="kbs_form-body ">
                        <form [formGroup]="inventoryForm" >
                                <div class="row">
                                  <div class="col-md-4 ms-5 me-5">
                                    <div class="form-group">
                                      <label class="form-label f-14">Category<span class="red">*</span></label>
                                      <select class="form-select" formControlName="category" (change)="getSelectedOptionText($event)">
                                            <option
                                            *ngFor="let catdata of categoryOption"
                                            [value]="catdata.id"
                                        >{{ catdata.categoryName }}</option>
                                        </select>
                                        <div *ngIf="inventoryForm.controls['category'].invalid && (inventoryForm.controls['category'].dirty || inventoryForm.controls['category'].touched)"
                                        class="error mt-2">
                                        <div *ngIf="inventoryForm.controls['category'].errors['required']">
                                            Category is required.
                                        </div>
                                    </div>
                                    </div>
                                  </div>
                                  <div class="col-md-4 ms-5 me-5">
                                    <div class="form-group">
                                      <label class="form-label f-14">Item Name<span class="red">*</span></label>
                                      <input type="text" class="form-control" formControlName="itemName">
                                    </div>
                                    <div *ngIf="inventoryForm.controls['itemName'].invalid && (inventoryForm.controls['itemName'].dirty || inventoryForm.controls['itemName'].touched)"
                                    class="error mt-2">
                                    <div *ngIf="inventoryForm.controls['itemName'].errors['required']">
                                       Item Name is required.
                                    </div>
                                </div>
                                  </div>
                                </div>
                                <div class="row mt-3">
                                  <div class="col-md-4 ms-5 me-5">
                                    <div class="form-group">
                                      <label class="form-label f-14">Unit Value</label>
                                      <input type="text" class="form-control" formControlName="unitValue">
                                    </div>
                                  </div>
                                  <div class="col-md-4 ms-5 me-5">
                                    <div class="form-group">
                                      <label class="form-label f-14">Unit</label>
                                      <select class="form-select" formControlName="unit">
                                        <option
                                        *ngFor="let unitdata of unitOption"
                                        [value]="unitdata.id"
                                    >{{ unitdata.unitName }}</option>
                                    </select>
                                    </div>
                                  </div>
                                </div>
                                <div class="row mt-3">
                                  <div class="col-md-4 ms-5 me-5">
                                    <div class="form-group">
                                    <label class="form-label f-14">Quantity<span class="red">*</span></label>
                                    <input type="text" class="form-control" formControlName="qty">
                                  </div>
                                  <div *ngIf="inventoryForm.controls['qty'].invalid && (inventoryForm.controls['qty'].dirty || inventoryForm.controls['qty'].touched)"
                                  class="error mt-2">
                                  <div *ngIf="inventoryForm.controls['qty'].errors['required']">
                                    Quantity is required.
                                  </div>
                              </div>
                                </div>
                                
                                <div class="col-md-4 ms-5 me-5"><div class="form-group">
                                  <label class="form-label f-14">Track By Inventory</label>
                                  <input type="checkbox" formControlName="trackInventory">
                                </div></div>
                                 
                                </div>
                                <div class="row mt-3">
                                  <div class="col-md-4 ms-5 me-5">   
                                    <div class="form-group">
                                    <label class="form-label f-14">Description</label>
                                    <textarea formControlName="desc" class="form-control"></textarea>	
                                  </div>
                                  </div>
                                  <div class="col-md-4 ms-5 me-5">   <div class="form-group">
                                    <label class="form-label f-14">Price</label>
                                    <input type="text" class="form-control" formControlName="price">
                                  </div></div>
                                </div>
                                <div class="row mt-3">
                                  
                                  <div class="col-md-4 ms-5 me-5">   
                                    <div class="form-group">
                                    <label class="form-label f-14">Image</label>
                                    <input (change)="onFilechange($event)" class="form-control w-200" type="file" accept="image/*" formControlName="fileInput">
                                    <div class="error f-12 mt-2">
                                      {{imageError}}
                                     </div>
                                            <div class="file-upload mt-2" *ngIf="previewImage &&previewImage !== null">
                                                <img [src]="previewImage"  width="125" height="125">
                                             </div>
                                             
                                            
                                  </div>
                                </div>
                                </div>
                                
                                <div class="row mt-3 ms-5 me-5">
                                  <div class="col-md-11 col-btn text-end">
                                      <button class="submit-btn border-0 col-md-3" (click)="cancelClick()">Cancel</button> &nbsp;&nbsp;
                                      <button class="submit-btn border-0 col-md-3" (click)="updateInventory(inventoryForm)" [disabled]="!inventoryForm.valid">Update</button>
                                      </div>
                              </div>
                            </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>