


<h4>Thank you for signing up!</h4>

<div class="mt-5">
    We're excited to welcome you to our community! Your registration has been successfully completed, and you are now a valued member of the Farmfreshlink family. Please log in to begin your journey and explore our website.
</div>
<div class="mt-3">Should you require any further assistance, feel free to contact us at <a href="mailto:Donaldward@farmfreshlink.com">Donaldward@farmfreshlink.com</a></div>
   <div class="signup-buttons mtop-5">
   
           <div class="signup-proceed-icon mtop-4 spc">
            <i class="bi bi-arrow-right-circle-fill" (click)="LoginClick()"></i>
            </div> 
  </div>

 

