<div class="inner-row">
    <form class="form-inline my-2 my-lg-0">
          <i class="bi bi-search"></i><input class="form-control mr-sm-2" type="order_search" placeholder="Search Chats..">
      </form>
      <ul class="chats-list">
          <li><span class="date">5:04 PM</span>
              <img src="../../../../assets/images/logo-small.png" alt="Leslie Yanez" />
              <span class="user-title">Leslie Yanez</span>
              <span class="user-msg text-truncate">I&rsquo;d like to purchase 4 goats like to purchase 4 goats .</span>
          </li>
          <li><span class="date">7:29 PM</span>
              <img src="../../../../assets/images/logo-small.png" alt="Leslie Yanez" />
              <span class="user-title">Leslie Yanez</span>
              <span class="user-msg text-truncate">I&rsquo;d like to purchase 4 goats like to purchase 4 goats .</span>
          </li>
          <li><span class="date">7/22/2022</span>
              <img src="../../../../assets/images/logo-small.png" alt="Leslie Yanez" />
              <span class="user-title">Leslie Yanez</span>
              <span class="user-msg text-truncate">I&rsquo;d like to purchase 4 goats like to purchase 4 goats .</span>
          </li>
          <li><span class="date">7/22/2022</span>
              <img src="../../../../assets/images/logo-small.png" alt="Leslie Yanez" />
              <span class="user-title">Leslie Yanez</span>
              <span class="user-msg text-truncate">I&rsquo;d like to purchase 4 goats like to purchase 4 goats .</span>
          </li>
          <li><span class="date">7/22/2022</span>
              <img src="../../../../assets/images/logo-small.png" alt="Leslie Yanez" />
              <span class="user-title">Leslie Yanez</span>
              <span class="user-msg text-truncate">I&rsquo;d like to purchase 4 goats like to purchase 4 goats .</span>
          </li>
          <li><span class="date">7/22/2022</span>
              <img src="../../../../assets/images/logo-small.png" alt="Leslie Yanez" />
              <span class="user-title">Leslie Yanez</span>
              <span class="user-msg text-truncate">I&rsquo;d like to purchase 4 goats like to purchase 4 goats .</span>
          </li>
          <li><span class="date">7/22/2022</span>
              <img src="../../../../assets/images/logo-small.png" alt="Leslie Yanez" />
              <span class="user-title">Leslie Yanez</span>
              <span class="user-msg text-truncate">I&rsquo;d like to purchase 4 goats like to purchase 4 goats .</span>
          </li>
          <li><span class="date">7/22/2022</span>
              <img src="../../../../assets/images/logo-small.png" alt="Leslie Yanez" />
              <span class="user-title">Leslie Yanez</span>
              <span class="user-msg text-truncate">I&rsquo;d like to purchase 4 goats like to purchase 4 goats .</span>
          </li>
          <li><span class="date">7/22/2022</span>
              <img src="../../../../assets/images/logo-small.png" alt="Leslie Yanez" />
              <span class="user-title">Leslie Yanez</span>
              <span class="user-msg text-truncate">I&rsquo;d like to purchase 4 goats like to purchase 4 goats .</span>
          </li>
      </ul>
</div>