<div class="main-body w-100" id="dashboard">
  <app-header titleName="Dashboard"></app-header>
  <div class="section-details" *ngIf="listData">
    <div class="row">
      <div class="col-sm-3 mb-3">
        <div class="card" style="background-color: rgba(255, 255, 0, 0.432)">
          <div class="card-body">
            <div class="row">
              <div class="col mt-0">
                <h5 class="card-title">Today's Order</h5>
              </div>

              <div class="col-auto">
                <div class="stat text-primary">
                  <i class="bi bi-gift"></i>
                </div>
              </div>
            </div>
            <h1 class="mt-1 mb-3">{{ listData?.todaysOrderCount }}</h1>
          </div>
        </div>
      </div>
      <div class="col-sm-3 mb-3">
        <div class="card" style="background-color: gainsboro">
          <div class="card-body">
            <div class="row">
              <div class="col mt-0">
                <h5 class="card-title">Inventory</h5>
              </div>

              <div class="col-auto">
                <div class="stat text-primary">
                  <i class="bi bi-sim-fill"></i>
                </div>
              </div>
            </div>
            <h1 class="mt-1 mb-3">{{ listData?.totalInventoryCount }}</h1>
          </div>
        </div>
      </div>
      <div class="col-sm-3 mb-3">
        <div class="card" style="background-color: rgba(0, 128, 0, 0.63)">
          <div class="card-body">
            <div class="row">
              <div class="col mt-0">
                <h5 class="card-title">Revenue</h5>
              </div>

              <div class="col-auto">
                <div class="stat text-primary">
                  <i class="bi bi-currency-dollar"></i>
                </div>
              </div>
            </div>
            <h1 class="mt-1 mb-3">{{ listData?.totalRevenue }}</h1>
          </div>
        </div>
      </div>
      <div class="col-sm-3 mb-3">
        <div class="card" style="background-color: rgba(156, 42, 42, 0.479)">
          <div class="card-body">
            <div class="row">
              <div class="col mt-0">
                <h5 class="card-title">All Orders</h5>
              </div>

              <div class="col-auto">
                <div class="stat text-primary">
                  <i class="bi bi-handbag"></i>
                </div>
              </div>
            </div>
            <h1 class="mt-1 mb-3">{{ listData?.totalOrderCount }}</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="my-3">
      <canvasjs-chart
        [options]="chartOptions"
        [styles]="{ width: '100%', height: '460px' }"
      ></canvasjs-chart>
    </div>
  </div>
</div>
