<h1>Forgot Your Password?</h1>

    <div class="form mtop-3">
        <form [formGroup]="forgotPasswordForm" >
        <div class="row">
            <div class="col-md-6 col-sm-6 col-lg-12 field">
                <span class="lbl-text">Confirm your email and we will send the instruction</span>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-12 field">
                <input formControlName="email" placeholder="Email*">
        
                <div *ngIf="forgotPasswordForm.controls['email'].invalid && (forgotPasswordForm.controls['email'].dirty || forgotPasswordForm.controls['email'].touched)"
                    class="error">
                    <div *ngIf="forgotPasswordForm.controls['email'].errors.required">
                        Email is required.
                    </div>
                    <div *ngIf="forgotPasswordForm.get('email').hasError('pattern')">
                        Please enter proper email address
                    </div>
                </div>
            </div>
            <div class="col-md-12 field mt-5">
                <button class="submit-btn border-0 col-md-12" (click)="resetPasswordClick(forgotPasswordForm)"
                    [disabled]="!forgotPasswordForm.valid">Reset Password</button>
            </div>

            <div class="col-md-12 field ">
                <span _ngcontent-ufw-c54="" class="lightgreen-underline"><a  class="hand" (click)="loginClick()">Sign in</a></span>
                <br/><br/><br/><br/><br/><br/>
            </div>
            </div>
        </form>
     </div>




