<div class="main-body w-100" id="dashboard">
  <app-header titleName="Dashboard"></app-header>
  <div class="section-details">
    <div class="row">
      <div class="col-sm-4 mb-3">
        <div class="card" style="background-color: rgba(255, 255, 0, 0.432)">
          <div class="card-body">
            <div class="row">
              <div class="col mt-0">
                <h5 class="card-title">No. of Farmers</h5>
              </div>

              <div class="col-auto">
                <div class="stat text-primary">
                  <i class="bi bi-gift"></i>
                </div>
              </div>
            </div>
            <!-- <h1 class="mt-1 mb-3">{{ listData?.todaysOrderCount }}</h1> -->
            <h1 class="mt-1 mb-3">4</h1>
          </div>
        </div>
      </div>
      <div class="col-sm-4 mb-3">
        <div class="card" style="background-color: gainsboro">
          <div class="card-body">
            <div class="row">
              <div class="col mt-0">
                <h5 class="card-title">No. of Butchers</h5>
              </div>

              <div class="col-auto">
                <div class="stat text-primary">
                  <i class="bi bi-sim-fill"></i>
                </div>
              </div>
            </div>
            <!-- <h1 class="mt-1 mb-3">{{ listData?.totalInventoryCount }}</h1> -->
            <h1 class="mt-1 mb-3">1</h1>
          </div>
        </div>
      </div>
      <div class="col-sm-4 mb-3">
        <div class="card" style="background-color: rgba(0, 128, 0, 0.63)">
          <div class="card-body">
            <div class="row">
              <div class="col mt-0">
                <h5 class="card-title">No. of Customers</h5>
              </div>

              <div class="col-auto">
                <div class="stat text-primary">
                  <i class="bi bi-currency-dollar"></i>
                </div>
              </div>
            </div>
            <!-- <h1 class="mt-1 mb-3">{{ listData?.totalRevenue }}</h1> -->
            <h1 class="mt-1 mb-3">2</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
