.heading{
    font-size: 15px;
    font-weight: 600;
}
.table-c {
    th, td{
        text-align:left !important;
    }
   
}
.breakword{
    word-break: break-all;
}
span.small-fn {
    font-size: 11px;
    border: 1px solid red;
}