.m-top-minus {
  margin-top: -42px !important;
  border: 1px solid #49b848;
  background: #49b848;
  color: #f9f9d7;
}
.bi {
  color: #0d7e3e;
}
.txt-upp {
  text-transform: capitalize;
}
.white-color {
  color: #fff !important;
}
table {
  thead th span {
    visibility: hidden;
  }
  thead th.active span {
    visibility: visible;
  }
}
