<h1>New Password</h1>
<h4>New Password to Continue</h4>
  <div class="signup-form mtop-3">
    <form [formGroup]="sigupForm" >
       <div class="row">
                <div class="col-md-6 field mt-5 offset-md-3">
                    <div class="row mb-3">
                        <div class="col-md-12 field">
                            <input  [type]="passwordEyeHide ? 'password' : 'text'" placeholder="Password*" formControlName="password" class="mb-1">
                            <app-password-strength [passwordToCheck]="sigupForm.value.password" (passwordStrength)="onPasswordStrengthChanged($event)"></app-password-strength>
                           
                                <div *ngIf="sigupForm.controls['password'].invalid && (sigupForm.controls['password'].dirty || sigupForm.controls['password'].touched)" class="error mt-2">
                                    <div *ngIf="sigupForm.controls['password'].errors.required">
                                      Password is required.
                                </div>
                                <div *ngIf="sigupForm.get('password').hasError('pattern')">
                                  Password must contain more than 8 characters, 1 upper case letter, and 1 special character
                              </div>
                          </div>
                    </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 field">
                            <div class="input-icons w-100">
                              <input [type]="passRetEyeHide ? 'password' : 'text'" placeholder="Re-enter Password*" formControlName="confirmpassword">
                             <!-- <i class="icon" [ngClass]="passRetEyeHide ? 'fa fa-eye' : 'fa fa-eye-slash'" (click)="myRetyPassword()"></i>-->
                              <div *ngIf="sigupForm.controls['confirmpassword'].invalid && (sigupForm.controls['confirmpassword'].dirty || sigupForm.controls['confirmpassword'].touched)" class="error">
                                  <div *ngIf="sigupForm.controls['confirmpassword'].errors.required">
                                  Re-enter Password is required.
                              </div>
                              <div *ngIf="sigupForm.controls['confirmpassword'].errors.mustMatch">Password and Confirm password should be same </div>
                          </div></div>
                          </div>
                    </div>
                </div>


            <div class="col-md-6 field mt-5 offset-md-3">
              <button class="submit-btn col-md-11 border-0" (click)="signUpClick(sigupForm)" [disabled]="!sigupForm.valid">Update</button>
            </div>

           

         <div class="col-md-12 account-text">
              <span class="lightgreen-underline"><a (click)="loginClick()" href="javascript:void(0)">Log in</a></span>
        </div>
      </div>
    </form>
   </div>
