<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Please wait...</p>
</ngx-spinner>
 <router-outlet></router-outlet>
 
<!---<ng-container *ngIf="templateFile === 'master' && authService.checkIsLoggedIn;else loginTemplate">
  <div class="c-container flex-desktop">
        <header>
          <ng-container [ngSwitch]="authService.getUserType()">
            <div *ngSwitchDefault>
              <app-admin-left-side></app-admin-left-side>
            </div>
            <div *ngSwitchCase="'BUTCHER'">
              <app-bucher-left-side></app-bucher-left-side>
            </div>
            <div *ngSwitchCase="'FARMER'">
              <app-left-side></app-left-side>
            </div>
          </ng-container>
        </header>
      <div class="main-body" id="main-body">              
        <router-outlet></router-outlet> 
        </div>
        <div class="clearfix"></div>
      </div>
</ng-container>
<ng-template #loginTemplate>
  <div class="green-bg">
    <div class="login-screen lgreen-bg">
      <div class="container">
        <div class="logo">
          <img src="../../../assets/images/logo.png">
        </div>
        <div class="row">
         <div class="col-md-6 offset-md-4">
              <alert></alert>
         </div>
       </div>
       <router-outlet></router-outlet>
         </div>
    </div>
  </div>
</ng-template>
<div *ngIf="templateFile === 'login'">       
</div>
<div *ngIf="templateFile === 'master'" >
</div>
-->

<style type="text/css">
     html,
     body,
     body > .c-container{ height: 100% }
</style>