.w-70{ width: 80px;}
.w-125{ width: 125px;}
.w-200{ width: 200px;}
.f-12{font-size: 12px !important;}
.table{
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}
.txt-center{
    text-align: center;
}