<h1>Sign Up Verification</h1>
<h4>Please Enter Email OTP</h4>

<div class="signup-form mtop-3 pb-5">
  <form [formGroup]="sigupForm">
    <div class="row">
      <div class="col-md-3 field"></div>
      <div class="col-md-6 field">
        <input
          type="text"
          class="text-center"
          formControlName="verificationNo"
          required
          placeholder=""
        />
        <div
          *ngIf="
            sigupForm.controls['verificationNo'].invalid &&
            (sigupForm.controls['verificationNo'].dirty ||
              sigupForm.controls['verificationNo'].touched)
          "
          class="error"
        >
          <div *ngIf="sigupForm.controls['verificationNo'].errors">
            <div *ngIf="sigupForm.controls['verificationNo'].errors.required">
              Please enter OTP
            </div>
            <div *ngIf="sigupForm.controls['verificationNo'].errors.pattern">
              Maximum four numbers allowed.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row submission mtop-2">
      <div class="col-md-6 field mt-5 offset-md-3">
        <button
          class="submit-btn col-md-11 border-0"
          (click)="verificationClick(sigupForm)"
          [disabled]="!sigupForm.valid"
        >
          Verify
        </button>
      </div>
    </div>
  </form>
</div>
<div class="w-100 text-end">
  {{ verificationNo }}
</div>
